---
layout: default
---
<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>
</article>

<hr>

<script src="https://giscus.app/client.js"
        data-repo="refuse-wrong/refuse-wrong.github.io"
        data-repo-id="R_kgDOQ6RRWg"
        data-category="Announcements"
        data-category-id="DIC_kwDOQ6RRWs4C0-6k"
        data-mapping="title"
        data-strict="0"
        data-reactions-enabled="0"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="zh-CN"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>